In [3]:
import mysql.connector

In [23]:
def crear_bbdd (contrasena, query):

    cnx = mysql.connector.connect(user='root', password = contrasena, host='127.0.0.1')


    mycursor = cnx.cursor()
    try:
        mycursor.execute(query)
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [34]:
def crear_tabla (contrasena, query, nombre_database):

    cnx = mysql.connector.connect(user='root', password = contrasena, host='127.0.0.1', database = nombre_database)
    mycursor = cnx.cursor()

    try:
        mycursor.execute(query)
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [24]:
crear_bbdd("AlumnaAdalab", "CREATE SCHEMA mi_primerita_BBDD_Python")

CMySQLCursor: CREATE SCHEMA mi_primerita_BBDD_Python

In [35]:
query = """CREATE TABLE clientes (
id_cliente INT NOT NULL AUTO_INCREMENT,
nombre VARCHAR (45) NOT NULL,
numero_telefono INT (9) NOT NULL,
email VARCHAR (45) NOT NULL,
direccion VARCHAR (45) NOT NULL,
ciudad VARCHAR (45) DEFAULT NULL,
provincia VARCHAR (45) NOT NULL,
pais VARCHAR (45) NOT NULL,
codigo_postal VARCHAR (45) NOT NULL,
PRIMARY KEY (id_cliente)
);"""
crear_tabla ("AlumnaAdalab",query, "mi_primerita_BBDD_Python")

CMySQLCursor: CREATE TABLE clientes (
id_cliente INT N..

In [36]:
query = """CREATE TABLE empleados (
id_empleado INT NOT NULL AUTO_INCREMENT,
nombre VARCHAR (45) NOT NULL,
tienda VARCHAR (45) NOT NULL,
salario INT DEFAULT NULL,
fecha_incorporacion DATE NOT NULL,
PRIMARY KEY (id_empleado)
);"""
crear_tabla ("AlumnaAdalab",query, "mi_primerita_BBDD_Python")

CMySQLCursor: CREATE TABLE empleados (
id_empleado INT..

In [37]:
query = """CREATE TABLE zapatillas (
id_zapatilla INT NOT NULL AUTO_INCREMENT,
modelo VARCHAR (45) NOT NULL,
color VARCHAR (45) NOT NULL,
PRIMARY KEY (id_zapatilla)
);"""
crear_tabla ("AlumnaAdalab",query, "mi_primerita_BBDD_Python")

CMySQLCursor: CREATE TABLE zapatillas (
id_zapatilla I..

In [38]:
query = """CREATE TABLE facturas (
id_factura INT NOT NULL AUTO_INCREMENT,
numero_factura VARCHAR (45) NOT NULL,
fecha DATE NOT NULL,
id_empleado INT NOT NULL, 
id_cliente INT NOT NULL,
id_zapatilla INT NOT NULL,
PRIMARY KEY (id_factura),
INDEX `fk_id_empleado` (id_empleado),
CONSTRAINT `fk_id_empleado`
FOREIGN KEY (`id_empleado`)
REFERENCES `empleados`(id_empleado),
INDEX `fk_id_cliente` (id_cliente),
CONSTRAINT `fk_id_cliente`
FOREIGN KEY (`id_cliente`) 
REFERENCES `clientes`(id_cliente),
INDEX `fk_id_zapatilla` (id_zapatilla),
CONSTRAINT `fk_id_zapatilla`
FOREIGN KEY (`id_zapatilla`)
REFERENCES `zapatillas`(id_zapatilla)
);"""
crear_tabla ("AlumnaAdalab",query, "mi_primerita_BBDD_Python")

CMySQLCursor: CREATE TABLE facturas (
id_factura INT N..