In [ ]:
#¿Qué BBDD tenemos en nuestro servidor?
import mysql.connector 

mydb = mysql.connector.connect(
                  user='root', password='AlumnaAdalab',
                  host='127.0.0.1')

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

In [ ]:
#¿Qué tablas componen la BBDD?

mydb = mysql.connector.connect(
              user='root', password='AlumnaAdalab',
              host='127.0.0.1',
              database='northwind'
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

In [ ]:
#REPASAR, NO FUNCIONA

#¿Qué columnas tiene cada una de las tablas?

mydb = mysql.connector.connect(
              user='root', password='AlumnaAdalab',
              host='127.0.0.1',
              database='northwind')
mycursor = mydb.cursor()

mycursor.execute("SELECT TABLE_NAME, COLUMN_NAME FROM COLUMNS WHERE TABLE_SCHEMA = 'northwind'")

for x in mycursor:
  print(x)
  break

In [ ]:
import mysql.connector

In [29]:
#Extraed el primer pedidos donde se ha gastado más. Devolved el id del pedido y la cantidad gastada
query = """SELECT order_id, SUM(unit_price * quantity) As total
FROM order_details
GROUP BY order_id
ORDER BY total DESC
"""
mydb = mysql.connector.connect(
              user='root', password='AlumnaAdalab',
              host='127.0.0.1',
              database='northwind')
mycursor = mydb.cursor()
mycursor.execute (query)
myresult = mycursor.fetchone()

print(myresult)

(10865, 17250.0)

In [ ]:
#Devuelve la misma query que en el anterior ejercicio, pero en este caso devuelve todos los resultados

query = """SELECT order_id, SUM(unit_price * quantity) As total
FROM order_details
GROUP BY order_id
ORDER BY total DESC
"""
mydb = mysql.connector.connect(
              user='root', password='AlumnaAdalab',
              host='127.0.0.1',
              database='northwind')
mycursor = mydb.cursor()
mycursor.execute (query)
myresult = mycursor.fetchall()

print(myresult)

In [ ]:
#Extraer los pedidos hechos por "Nancy Daviolo". Tendréis que hacer una subquery
query = """SELECT *
FROM orders
WHERE employee_id IN (
	SELECT employee_id
	FROM employees
	WHERE first_name = 'Nancy' AND last_name = 'Davolio')"""

mydb = mysql.connector.connect(
              user='root', password='AlumnaAdalab',
              host='127.0.0.1',
              database='northwind')
mycursor = mydb.cursor()
mycursor.execute(query)
myresult = mycursor.fetchall()

print(myresult)

In [ ]:
#Extraed el números de pedidos que se hayan hecho por dia. Devuelve los resultados en una dataframe
import pandas as pd #primero importo la librería pandas para poder mostrarlo como un dataframe

mydb = mysql.connector.connect(
              user='root', password='AlumnaAdalab',
              host='127.0.0.1',
              database='northwind')
mycursor = mydb.cursor()
mycursor.execute("""SELECT count(order_id), order_date
FROM orders
GROUP BY order_date
ORDER BY order_date DESC
""")
myresult = mycursor.fetchall()

#Se crea un dataframe con los resultados de la consulta SQL almacenados en myresult.
df = pd.DataFrame(myresult, columns = ['Total_pedidos', 'Fecha_pedidos'])
display(df)

In [35]:
# Desconectad la conexión con el servidor

cerrar = mydb.close()

print(cerrar)

None